RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#PandemicAPI //By LiLPandemio
RewriteRule ^api(/?|)$ api.php [NC,QSA]
RewriteRule ^api/([^\/]+)(\/|)$ api.php?endpointdir=$1 [NC,QSA]

RedirectMatch 403 ^/backups/?$